/********************************************************************************************************/
/**************************************** ÉVÈNEMENTS ****************************************************/


/** 1- Page New Event
    2_ Page Show Event
    3_ Page Edit Event
    4_ Page INDEX


/** 1_'new.html.twig'***************************************************         1_PAGE CREATE NEW EVENT**/

.formCreateEvent {
    margin-top: 150px;
}


/** 2_'show.html.twig'***************************************************        2_PAGE SHOW EVENT**/
.formShowEvent {
    margin-top: 150px;
}

/** 1_'edit.html.twig'***************************************************        3_PAGE EDIT EVENT**/
.formEditEvent {
    margin-top: 150px;
}

/** 1_'index.html.twig'**************************************************        4_PAGE INDEX EVENT**/
.formIndexEvent {
    margin-top: 150px;
}

img {

    max-width: 100%;

}