.profile-container {
    padding: 50px;
    max-width: 650px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 100px auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;

}
.profile-container h1 {
    text-align: center;
    font-size: 1.8em;

}

.profile-edit{
    font-size: 12px;
}

.img-profile{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.profile-picture{
    margin: 30px;

}

.nav{
    margin: 30px;

}

.navbar-header{
    text-align: center;
    width: 100%;
    }