.navbar-header{
    text-align: center;
    width: 100%;
}

.fixed-top{
    position: relative;
}

.connected{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:1vw;
}

footer {
    position: sticky;
    margin-top: 3vw;
}