{% extends 'base.html.twig' %}
{% block body %}
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading text-uppercase"> Oupsss….la page demandée est introuvable.
                    <h4><a href="{{ path('homepage') }}">Revenir à la page d'accueil</a></h4>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


