{% extends 'base.html.twig' %}


{% block body %}
    <!-- About OzOut -->
    <section id="services">
        <div class="container">
            <div class="row row-about-contact">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase h2apropos">À propos d'Ozout</h2>
                </div>
            </div>
            <div class="text-center">
                <video id="video" playsinline="" autoplay muted loop class="bgvid">#}
                    <source src="http://www.loisjeans.com/web2013/img/home/lois-SS2013-background-02.mp4
                " type="video/mp4">
                </video>
            </div>
            <div class="row text-center step">
                <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-user-circle fa-stack-1x fa-inverse"></i>
                </span>
                    <h4 class="service-heading">Je m'inscris</h4>
                    <p class="text-muted">En créant mon compte j'accède à tous les événements</p>
                </div>
                <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-plus-circle fa-stack-1x fa-inverse"></i>
                </span>
                    <h4 class="service-heading">Je crée mon événement</h4>
                    <p class="text-muted">Je décide où, quand, comment, combien... et avec qui !</p>
                </div>
                <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                    <h4 class="service-heading">Je profite avec mes ami.e.s</h4>
                    <p class="text-muted">Tout ça en quelques clics !</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

