{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block fos_user_content %}
<div class="login-container confirmed">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <p>Vous allez être redirigé automatiquement vers la page d'accueil</p>
</div>
{% endblock fos_user_content %}

{% block javascripts %}
    <script>
        window.setTimeout(function() {
            window.location.href = '{{ path('home_connected') }}';
        }, 3000);

    </script>
{% endblock %}
