{% extends 'base.html.twig' %}

{% block body %}
<section id="page-top">
<!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Invite des participants</div>
                <div class="intro-lead-in"><a class="navbar-brand logo" href="{{ path('homepage') }}"> OzOut</a></div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container formCreateEvent">
                <h1 align="center">Inviter des participants</h1>
                <div class="offset-md-3 col-md-6">
                    <form id="form-invite" method="post" action="{{ path('event_invite', {'id': event.id}) }}">
                       <div id="inputs-email">
                           <input class="row" type="email" name="emails[]">
                       </div>
                        <button class="btn" id="add-email">+</button>
                        <div>
                            <input type="submit" value="Envoyer" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-header btn-create"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}

