{% extends 'base.html.twig' %}

{% block body %}
<section id="page-top">
<!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Crée ton événement</div>
                <div class="intro-lead-in"><a class="navbar-brand logo" href="{{ path('homepage') }}"> OzOut</a></div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container formCreateEvent">
                <h1 align="center">Créer un événenement</h1>
                <div class="offset-md-3 col-md-6">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <img width="200" id="previewPictureEvent" src="#" alt="">
                        <div>
                            <input type="submit" value="Create" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-header"/>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}

