<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Evènement annulé !</title>
        <style>
            h1 {
                color: #fed136;
            }
            a{
                color: #fed136 !important;
                text-decoration: none;
                font-size: 1em;
                text-align: left !important;
            }
            .container{
               /* background-image: url("img/backgroundEmail.png");*/
                background-color: #f7f7f7;
                padding: 5vh;
                width: 60vw;
                height: 45vh;
                border: 1px solid #f7f7f9;
            }
            span{
                color: #fed136;
                font-weight: bold;
                font-size: 1em;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 align="left">Hey {{ user.username }} !</h1>
            <h2 align="left">Nous avons bien pris en compte l'annulation de ton événement {{ event.title }}</h2>
            <p>A très vite,</p>
            <p>L'Equipe <span><a href="{{ path('event_index') }}">OzOut </a></span></p>
        </div>
    </body>
</html>



