<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Réinitialisation de ton mot de passe OzOut</title>
        <style>

            h1 {
                color: #fed136;
            }
            .container{
                /* background-image: url("img/backgroundEmail.png");*/
                background-color: #f7f7f7;
                padding: 5vh;
                width: 60vw;
                height: 25vh;
                border: 1px solid #f7f7f9;
            }
            span{
                color: #fed136;
                font-weight: bold;
                font-size: 1em;
            }
            p{
                text-align: left;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Bonjour {{ user.username }} !</h1>
            <p>Tu peux réinitialiser ton mot de passe en cliquant sur {{ confirmationUrl }}</p>
            <p>A très vite,</p>
            <p>L'Equipe <span>OzOut</span></p>
        </div>
    </body>
</html>






